<h1>List of Questions and Answers</h1>

<p>Your message: <strong><%= @question %></strong></p>
<p>Coach says: <strong><%= @coach_response %></strong></p>

<ul>
  <li><%= link_to "Ask another question", ask_path %></li>
  <li><%= link_to "home page", root_path %></li>
</ul>
